body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F2F3F8;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
}

footer span {
  color: pink;
}

footer p a {
  text-decoration: none;
  color: #262626;
}

footer p a:hover {
  color: pink;
}

div#root {
 margin: 100px auto;
 width: 50%;
 height: 80vh;
 background-color: #344490;
 border-radius: 15px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* MEDIA QUERIES  */
@media screen and (max-width: 1020px) {
  div#root {
    margin: 100px auto;
    width: 80%;
  }
}